{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
			{% if legend != "Update Department" %}
            <div class="form-group">
                {{ form.pnumber.label(class="form-control-label") }}
                {% if form.pnumber.errors %}
                    {{ form.pnumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.pnumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.pnumber(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endif %}

            <div class="form-group">
                {{ form.hours.label(class="form-control-label") }}
                {% if form.hours.errors %}
                    {{ form.hours(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hours.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hours(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			<div class="form-group">
                {{ form.emp_ssn.label(class="form-control-label") }}
                {% if form.emp_ssn.errors %}
                    {{ form.emp_ssn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.emp_ssn.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.emp_ssn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
		
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
